#play {
	vertical-align: middle;
	padding: 20px;
}
#play #player {
	text-align: center;
}
table.people_table td {
	border: 1px solid rgb(182, 182, 182);
	text-align: center;
	width: 50%;
	word-wrap: break-word;
}
table.places_table td {
	border: 1px solid rgb(182, 182, 182);
	text-align: center;
	width: 33%;
	word-wrap: break-word;
}
#play #clock {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#play hr {
    border: none;
    height: 1px;
    background-color: rgb(179, 179, 179); /* Modern Browsers */
}
#play #hider {
	font-size: 13px;
	color: purple;
}
#play #first {
	color: red;
	font-size: 10px;
}
#play #buttonWrap {
	width: 100%;
	text-align: center;
}
#play input[type="button"] {
	background-color: #8800ff; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
	font-weight: 200;
}