<div class="view" id="play">
	<div id="player">
		<hr />
		<span id="hider">{Hide/Show}</span>
		<p id="role">

		</p>
		<hr />
	</div>
	Remaining time:
	<div id="clock">
		00:00
	</div><br /> <hr > <br />
	Players:
	<table class="people_table" id="people" style="table-layout: fixed;width:100%">
	</table> 
	<br /><hr /><br />
	Places:
	<table class="places_table" id="places" style="table-layout: fixed;width:100%">
	</table>
	<br />
	<div id="buttonWrap">
		<input type="button" id="adminstop" value="Stop" onclick="onClickStop()"/>
	</div>
</div>