#main {
	padding-top: 15px;
	text-align: center;
	height: 59px;
}
#main .mainbtn {
	background-color: #8800ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
	font-weight: 200;
}
#main #spacer{
    width:20px;
    height:auto;
    display:inline-block;
}
